<div class="row promo-top" style="display: flex;">
  <div class="col-12 col-md-12 col-sm-12" style="background-color: #D9BE9B !important;">
    <p class="p-0 m-0 text-center px-5" style="color: black;">
      Free shipping orders IDR500,000 (Indonesia area only)
      <span class="close-promo-top" style="float: right; cursor: pointer">X</span>
    </p>
  </div>
</div>