@* subcribe *@
<div class="modal-subcribe d-none d-md-block hidden-xs hidden-sm">
  <div class="row m-0">
    <div class="col-12 col-sm-6 col-md-6">
      <div class="d-flex justify-content-center align-items-center" style="position: absolute; flex-wrap: wrap; top: 43%;">
        <p class="px-5" style="line-height: 15px;">
          <span style="font-weight: bold;">Subcirbe and receive 10% OFF your first purchase!</span>
          <br> <br>
          <span style="">Sign up for our newsletter to be the first to know about our new arrivals, special promotions and store events near you.</span>
        </p>
        <div style="flex-basis: 100%; height: 0;"></div>
        <div style="margin-top: 10px; width: 78%;">
          <div id="nieuwsbrief" style="width: 100%;">
            <form style="margin-left: -4%;" action="" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div class="form-group d-flex justify-content-center mb-4 mb-md-0" style="vertical-align:top;">
                <input id="mce-EMAIL" class="email form-footer" type="email" style="border-bottom: 1px solid; padding: 11px 0; background-color: white;" name="EMAIL" placeholder="Enter your e-mail here" value="" required="required" />
                <button id="mc-embedded-subscribe" style="margin-left: -30px; margin-top: 0; type="submit" name="subscribe" value=""><img src="~/Themes/v1/Content/images/arrow.svg" /></button>
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0713301c8224b9979b17bdd9b_0e2ea9797e" tabindex="-1" value=""></div>
              </div>
            </form>
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
            <script type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
          </div>
          <div id="nieuwsbrief-msg" style="display:none;">
            Thank you for subscribing!
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6" style="position: relative;">
      <img src="~/Themes/v1/Content/images/subcirbe.jpg" style='height: 100%; width: 100%; object-fit: contain'>
      <p class="close-subcribe" style="cursor: pointer; position: absolute; top: 0; right: 0; color: white; font-size: 24px; margin-right: 5px;">X</p>
    </div>
  </div>
</div>
<div class="aside-backdrop in d-none d-md-block hidden-xs hidden-sm"></div>

<div class="modal-subcribe-mobile d-block d-md-none hidden-md hidden-xl">
  <div class="row m-0 d-flex justify-content-center align-items-center" style="position: absolute; flex-wrap: wrap; top: 30%;">
    <p class="px-5" style="line-height: 15px; color: white;">
      <span style="font-weight: bold;">Subcirbe and receive 10% OFF your first purchase!</span>
      <br> <br>
      <span style="">Sign up for our newsletter to be the first to know about our new arrivals, special promotions and store events near you.</span>
    </p>
    <div style="flex-basis: 100%; height: 0;"></div>
    <div style="margin-top: 10px; width: 78%;">
      <div id="nieuwsbrief" style="width: 100%;">
        <form style="margin-left: -4%;" action="" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div class="form-group d-flex justify-content-center mb-4 mb-md-0" style="vertical-align:top;">
            <input id="mce-EMAIL" class="email form-footer" type="email" style="color: white; border-bottom: 1px solid; padding: 11px 0; background-color: transparent;" name="EMAIL" placeholder="Enter your e-mail here" value="" required="required" />
            <button id="mc-embedded-subscribe" style="margin-left: -30px; margin-top: 0; type="submit" name="subscribe" value=""><img src="~/Themes/v1/Content/images/arrow.svg" /></button>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0713301c8224b9979b17bdd9b_0e2ea9797e" tabindex="-1" value=""></div>
          </div>
        </form>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
        <script type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
      </div>
      <div id="nieuwsbrief-msg" style="display:none;">
        Thank you for subscribing!
      </div>
    </div>
  </div>
  <p class="close-subcribe" style="cursor: pointer; position: absolute; top: 0; right: 0; color: white; font-size: 24px; margin-right: 5px;">X</p>
</div>